.VoucherWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;

  > img {
    object-fit: contain;
    width: 100%;
  }

  /* Extra small devices (phones, 375px and down) */
  @media only screen and (max-width: 375px) {
    width: 210px;
  }

  /* Small devices (portrait tablets and large phones, 375px and up) */
  @media only screen and (min-width: 375px) {
    width: 300px;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    width: 330px;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    width: 370px;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    width: 480px;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    width: 580px;
  }
}
